/*
CSS Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* 
End CSS reset
*/

:root {
  /* Colors */
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --default-font-family: 'Roboto', sans-serif;
  --default-font-size: 16px;
  --fw-medium: 400;
  --fw-bold: 700;

  /* Styling */
  --border-radius: 0.625rem;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  background-color: var(--charcoal-grey);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  width: 90%;
  padding: 1rem;
}
